In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re


df = pd.read_excel('21d.xlsx')



ages = df.iloc[3:88,1]
income_classes = [ df.iloc[88+85*n, 0] for n in range(26) ]

main_df = women_df = men_df = median_df = median_df_w = median_df_m = pd.DataFrame( columns = income_classes, index = ages )
main_df.index.name = women_df.index.name = men_df.index.name = median_df.index.name = median_df_w.index.name = median_df_m.index.name = None


# ########################################################################
# ###########################  Main DF  ##################################
# ########################################################################

for (i,data) in enumerate(main_df):

        col = df.iloc[ 88 + 85 * i:173 + 85 * i, 8 ]
        main_df[data] = col.values

main_df = main_df.replace("..", 0)
main_df.loc['Summa'] = main_df.sum(axis = 0)
main_df['Totala'] = main_df.sum(axis=1)

In [9]:
display(main_df)

,0,1-19 tkr,20-39 tkr,40-59 tkr,60-79 tkr,80-99 tkr,100-119 tkr,120-139 tkr,140-159 tkr,160-179 tkr,...,320-339 tkr,340-359 tkr,360-379 tkr,380-399 tkr,400-499 tkr,500-599 tkr,600-799 tkr,800-999 tkr,1000+ tkr,Totala
16 år,61382,47298,6395,1475,438,173,102,59,39,22,...,0,0,0,0,0,0,0,0,0,117427
17 år,40982,54661,14172,4280,1589,615,350,198,114,52,...,6,0,0,0,0,0,0,0,0,117210
18 år,29862,39921,20969,12069,6059,2883,1558,861,496,306,...,22,0,10,0,18,16,4,0,0,115687
19 år,17975,15791,11609,13735,10247,9349,8743,7744,5957,4179,...,190,141,90,66,142,44,19,4,0,113131
20 år,14584,0,7364,7835,6545,5782,7091,5407,5420,4945,...,2089,1428,1126,761,1599,322,67,0,0,101289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97 år,34,0,0,0,0,37,401,537,541,402,...,69,52,23,29,69,21,22,5,0,3797
98 år,18,0,0,0,0,18,333,385,350,285,...,38,18,24,16,43,18,16,5,4,2624
99 år,17,0,0,0,0,12,222,233,235,204,...,30,15,12,9,22,11,6,0,0,1713
100+ år,31,0,0,0,0,28,422,445,331,259,...,31,15,22,20,39,14,18,0,0,2634
Summa,467619,261664,155087,145938,115142,125386,204993,274293,259915,298065,...,309311,317213,313306,297195,1176759,686937,508082,156461,146257,8372779